/* For extremely small screen devices (595px and below) */
/* @media screen and (min-width:200px) and (max-width:595px){ */
@media only screen and (max-width: 595px) {

    /* NAVIGATION */
    html, body {
        /* overflow-x: hidden; */
        width: 100%;
    }
    .home {
        position: absolute;
        height: 562px;
        width: 100%;
        /* width: 390px; */
        left: 0px;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(images/homeBg.png) no-repeat, width (100%);
    }
    .st {
        width: 60px;
        height: 40px;
        left: 25px;
        top: 24px;
    }
    .st .container-fluid button {
        position: absolute;
        left: 0px;
        top: 0px;
    }
    .st .container-fluid button span {
        color: white;
    }
    .nav-link {
        width: 80px;
        font-size: 10px;
        text-align: left;
        line-height: 13px;
        top: 44px;
        left: 20px;
        position: relative;
    }
    .bulletPoint {
        background-image: url(images/bulletPoint.png) no-repeat;
        position: absolute;
        width: 10px;
        height: 10px;
        left: -15px;
        top: 10px;
        background: #A41C25;
        border-radius: 50%;
    }
    
    /* LOGO */
    .logo {
        background: url(images/logoMobile.png) no-repeat;
        position: absolute;
        width: 157px;
        height: 59px;
        /* left: auto; */
        left: 200px;
    }

    /* INTRODUCTION */
    .intro {
        width: 342px;
        height: 260px;
        left: 25px;
        top: 250px;
    }
    .intro h1 {
        font-size: 55.8352px;
        line-height: 53px;
    }
    .intro p {
        width: 350px;
        height: 64px;
        font-size: 13px;
        line-height: 16px;
    }
    .verse1 {
        width: 84px;
        top: 238px;
        left: 258px;
        height: 24px;
    }
    .verse1 p {
        top: 4px;
        width: 84px;
        height: 14px;
        font-size: 9.23869px;
        line-height: 14px;
        /* border: 1px solid blue */
    }
    .preach {
        /* position: inherit; */
        left: 6%;
        /* left: 17px; */
        top: 530px;
    }
    .design1 {
        width: 150px;
        height: 30px;
        top: 910px;
    }
    .design2 {
        left: 60%;
        /* left: 200px; */
        top: 798px;
    }

    /* PROMISES */
    .promises {
        width: 100%;
        /* width: 390px; */
        height: 230px;
        top: 968px;
    }
    .promise1 {
        border-right: none
    }
    .promise2 {
        height: 80px;
        left: 50%;
        border-left: 2px solid #FAFAFA;
        top: 55px;
    }
    .item1 {
        width: 200px;
        height: 40px;
        left: 50%;
        /* left: 95px; */
        top: 10px;
        text-align: center;
    }
    .item2 {
        width: 200px;
        height: 72px;
        left: -100px;
        top: 83px;
        text-align: center;
    }
    .one {
        font-size: 15px;
        line-height: 19px;
    }
    .two {
        font-size: 10px;
        line-height: 13px;
        margin-top: -12px;
    }
    .qcont {
        left: 44%;
        /* left: 170px; */
        top: 68px;
    }

    /* MISSION, VISION, MINISTRY, BELIEFS & CORE VALUES */
    .about {
        width: 100%;
        /* width: 390px; */
        height: 950px;
        top: 1198px;
        margin: auto;
        background-color: #060000;
    }
    .aboutCont {
        width: 340px;
        height: 860px;
        left: 10%;
        /* left: 23px; */
        top: 12px;
    }
    .enjoy {
        width: 200px;
        height: 30px;
        left: 20%;
        /* left: 90px; */
        top: 5px;
        border-bottom: 2px solid #4D4343;
        text-align: center;
    }
    .mission {
        width: 164px;
        height: 164px;
        top: 60px;
        border: 4px solid #4D4343;
        box-shadow: 0px 2px 2px 0.5px #A41C25;
        border-radius: 0px 15px;
    }
    .vision {
        left: 175px;
        width: 164px;
        height: 164px;
        top: 60px;
        border: 4px solid #4D4343;
        box-shadow: 0px 2px 2px 0.5px #A41C25;
        border-radius: 0px 15px;
    }
    .ministry {
        left: 90px;
        width: 164px;
        height: 164px;
        top: 235px;
        border: 4px solid #4D4343;
        box-shadow: 0px 2px 2px 0.5px #A41C25;
        border-radius: 0px 15px;
    }
    .beliefs {
        width: 340px;
        height: 346px;
        left: 0px;
        top: 410px;
        box-shadow: 0px 2px 2px 0px #A41C25;
        border: 4px solid #4D4343;
        border-radius: 0px 7.5px;
    }
    .values {
        width: 340px;
        height: 90px;
        left: 0px;
        top: 770px;
        box-shadow: 0px 2px 2px 0px #A41C25;
        border: 4px solid #4D4343;
        border-radius: 0px 7.5px;
    }
    .aboutCont h6 {
        font-size: 15px;
        line-height: 19px;
        width: 180px;
    }
    .aboutCont p, .aboutCont ul {
        font-size: 10px;
        line-height: 13px;
        width: 300px;
    }
    .mCont p, .vCont p, .miCont p {
        width: 135px;

    }
    .vaCont ul {
        width: 100px;
    }
    .bCont, .mCont, .vCont, .miCont, .vaCont {
        left: 15px;
        top: 10px;
        width: 150px;
        height: 150px;
    }
    .vaCont {
        width: 80px;
        height: 80px;
    }
    .bCont p, .vaCont p {
        width: 150px;
    }
    .bCont {
        width: 100px;
    }
    /* .mCont, .vCont, .miCont{
        position: absolute;
        width: 280px;
        height: 280px;
        left: 30px;
        top: 20px;
    } */
    /* .vaCont {
        width: 390px;
    } */


    .design3 {
        width: 50px;
        height: 30px;
        top: 900px;
    }
    .design4 {
        width: 50px;
        height: 30px;
        left: 86%;
        /* left: 340px; */
        top: 300px;
    }
    .design5 {
        background: url(images/Group\ 226\ \(2\).png);
        width: 44px;
        height: 41px;
        top: 400px;
        left: 250px;
    }
    .first, .second, .third {
        width: 100px;
        height: 10px;
    }
    .second {
        left: 100px;
    }
    .third {
        left: 200px;
    }

    /* PROGRAMS */
    .pray {
        width: 370px;
        height: 380px;
        left: 5%;
        /* left: 10px; */
        top: 2170px;
    }
    .upperRoomCont {
        width: 330px;
        height: 170px;
        left: 20px;
    }
    .upperRoomCont span {
        left: 110px;
        top: 5px;
        width: 201px; 
    }
    .upperRoomCont h6 {
        width: 200px;
        height: 38px;
        font-size: 15px;
        line-height: 19px;
    }
    .upperRoomCont p {
        width: 150px;
    }
    .upperRoomCont p, .graceService p, .hangout p, .soak p {
        height: 39px;
        font-size: 10px;
        line-height: 13px;
    }
    .graceService h5, .hangout h5, .soak h5 {
        font-size: 15px;
        line-height: 19px;
        padding-left: 10px;
    }
    .cameraIcon {
        background: url(images/cameraMobile.png) no-repeat;
        left: 120px;
        right: 10px;
        top: 60px;
        bottom: 1px;
    }
    .camPlay {
        background: url(images/camPlayMobile.png) no-repeat;
        left: 128px;
        right: 10px;
        top: 65px;
        bottom: 1px;
    }
    .design9 {
        width: 97px;
        height: 91px;
    }
    .image {
        background: url(images/prayMobile.png);
        width: 91px;
        height: 91px;
    }
    .welcome {
        width: 170px;
        left: 120px;
        top: 100px;
        border-left: none;
        padding-left: 0px;
    }
    .dash {
        position: absolute;
        left: 140px;
        top: 100px;
        width: 70px;
        height: 70px;
        border-top: 6px solid #4D4343;
    }
    .packages {
        width: 330px;
        height: 175px;
        left: 20px;
        top: 190px;
    }
    .graceService {
        width: 105px;
        height: 175px;
        left: 0px;
    }
    .pic1, .pic2, .pic3 {
        width: 105px;
        height: 84px;
    }
    .pic1 {
        background-image: url(images/graceMobile.png);
    }
    .pic2 {
        background-image: url(images/hangoutMobile.png);
    }
    .pic3 {
        background-image: url(images/soakMobile.png);
    }
    .picPara {
        width: 84px;
        height: 65px;
        top: 90px;
        left: 10px;
        text-align: center;
    }
    .picPara p {
        font-size: 9px;
        line-height: 13px;
    }
    .picTitle {
        width: 120px;
        height: 19px;
        top: 155px;
        border-left: 8px solid #4D4343;
    }
    .hangout {
        position: absolute;
        width: 100px;
        height: 150px;
        left: 113px;
        top: 0px;
    }
    .soak {
        position: absolute;
        width: 100px;
        height: 150px;
        left: 225px;
        top: 0px;
    }
    .graceService h5, .hangout h5, .soak h5 {
        font-size: 10px;
        line-height: 19px;
        padding-left: 5px;
        padding-top: 7px;
    }
    .picTitle1 {
        left: 12px;
    }
    .picTitle2 {
        left: 12px;
    } 
    .picTitle3 {
        left: 25px;
        width: 100px;
    }
   

    /* SERVICE PICTURES */
    .pictures {
        width: 100%;
        /* width: 390px; */
        height: 650px;
        top: 2561px;
    }
    .pic {
        width: 370px;
        height: 580px;  
        left: 5%;
        /* left: 10px; */
        top: 51px;
    }
    .mainPic {
        width: 350px;
        height: 550px;  
        left: 10px;
        top: 30px;
    }
    .picPrev {
        left: -10px;
        width: 50px;
        height: 50px;
        top: 250px;
    }
    .picNext {
        left: 90%;
        /* left: 324px; */
        width: 50px;
        height: 50px;
        top: 250px;
    }
    .lsptMobile {
        position: absolute;
        margin-bottom: 10px;
        width: 332px;
        height: 229px; 
        left: 10px;
    }
    .lspbMobile {
        position: absolute;
        top: 245px;
        margin-bottom: 10px;
        width: 332px;
        height: 229px; 
        left: 10px;
    }
    .mdpMobile {
        position: absolute;
        left: 10px;
        width: 332px;
        height: 474px; 
    }
    .rsptMobile {
        position: absolute;
        left: 10px;
        margin-bottom: 10px;
        width: 332px;
        height: 229px; 
    }
    .rspbMobile {
        position: absolute;
        top: 245px;
        left: 10px;
        margin-bottom: 10px;
        width: 332px;
        height: 229px; 
    }
    .carousel h6 {
        left: 120px;
        top: 10px;
        font-size: 15px;
        line-height: 19px;
    }
    .design6 {
        width: 50px;
        height: 30px;
        top: 610px;
    }
    .design7 {
        width: 50px;
        height: 30px;
        left: 340px;
    }
    .design8 {
        left: 250px;
    }
    .mainLspt {
        background-image: none;
    }
    .mainLspb {
        background-image: none;
    }
    .mainMdp {
        background-image: none;
    }
    .mainRspt {
        background-image: none;
    }
    .mainRspb {
        background-image: none;
    }
    .mainLsptMobile {
        background-image: url(images/picture\ \(1\).png);
    }
    .mainLspbMobile {
        background-image: url(images/picture\ \(2\).png);
    }
    .mainMdpMobile {
        background-image: url(images/picture\ \(3\).png);
    }
    .mainRsptMobile {
        background-image: url(images/picture\ \(4\).png);
    }
    .mainRspbMobile {
        background-image: url(images/picture\ \(5\).png);
    }


    /* AUDIO MESSAGE AND TESTIMONIES  */
    .listen {
        width: 360px;
        height: 450px;
        left: 6%;
        /* left: 15px; */
        top: 3208px;
    }
    .infoCont {
        position: absolute;
        width: 360px;
        height: 450px;
        left: 0px;
        top: 0px;
    }
    .audioCont {
        width: 360px;
        height: 450px;
    }
    .audio {
        position: absolute;
        width: 211px;
        height: 113px;
        box-shadow: 0px 2px 2px #F81A29;
        border-radius: 10px;
        top: 310px;
        left: 80px;
    }
    .audio h6 {
        width: 59px;
        height: 18px;
        left: 8px;
        top: 35px;
        font-size: 14px;
        line-height: 18px;
    }
    .audio p {
        width: 136px;
        height: 22px;
        left: 8px;
        top: 57px;
        font-size: 9px;
        line-height: 11px;
    }
    .radio {
        width: 65px;
        height: 98px;
        left: 139px;
        top: 8px;
        border-radius: 4px;
    }
    .headphone {
        width: 56px;
        height: 56px;
        left: 5px;
        top: 9px;
        background-image: url(images/headPhoneMobile.png);
    }
    .press {
        left: 21px;
        top: 65px;
        background-image: url(images/pressMobile.png);
        width: 25px;
        height: 25px;
    }
    .member1 {
        width: 300px;
        height: 138px;
        left: 20px;
        top: 0px;
        border-radius: 10px;
    }
    .bigQuote {
        width: 27px;
        height: 22px;
        background-image: url(images/bigQuoteMobile.png);
    }
    .member2 {
        width: 300px;
        height: 138px;
        left: 38px;
        border-radius: 10px;
        top: 150px;
    }
    .member3 {
        position: absolute;
        width: 300px;
        height: 138px;
        left: 20px;
        top: 0px;
        border-radius: 10px;
    }
    .member4 {
        position: absolute;
        width: 300px;
        height: 138px;
        left: 38px;
        border-radius: 10px;
        top: 150px;
    }
    .member5 {
        position: relative;
        width: 300px;
        height: 138px;
        left: 50px;
        border-radius: 10px;
        top: 300px;
    }
    .member1 p, .member2 p,
    .member3 p, .member4 p, .member5 p {
        margin-top: 40px;
        width: 239px;
        height: 78px;
        font-size: 10px;
        line-height: 13px;
    }
    .member1 span, .member2 span,
    .member3 span, .member4 span, .member5 span {
        margin-top: 100px;
        width: 239px;
        height: 78px;
        font-size: 10px;
        line-height: 13px;
    }
    .left {
        margin-left: -20px;
        width: 50px;
        height: 50px;
        top: 50px;
    }
    .right {
        width: 50px;
        height: 50px;
        margin-right: -20px;
        top: 350px;
    }

    /* MUSIC AND DISCIPLESHIP JOURNEY */
    .musicNjourney {
        width: 100%;
        /* width: 390px; */
        height: 630px;
        top: 3700px;
    }
    .music {
        background-image: url(images/musicMobile.png);
        width: 354px;
        height: 235px;
        left: 7%;
        /* left: 18px; */
        top: 44px;
    }
    .journey {
        width: 278px;
        height: 262px;
        left: 16%;
        /* left: 50px; */
        top: 315px;
        text-align: center;
    }
    .video {
        width: 278px;
        height: 137px;
        top: 50px;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(images/journeyMobile.png);
        border-radius: 10px;
    }
    .curriculum {
        width: 240px;
        height: 40px;
        left: 18px;
        top: 195px;
        text-align: center;
    }
    .download {
        padding: 5px 15px;
        gap: 5px;
        width: 85px;
        height: 21px;
        left: 75px;
        top: 50px;
        border-radius: 2px;
    }
    .journey h6 {
        width: 278px;
        height: 18px;
        font-size: 15px;
        line-height: 19px;
    }
    .curriculum h6 {
        width: 240px;
        height: 18px;
        font-size: 15px;
        line-height: 19px;
    }
    .journey p {
        width: 278px;
        height: 23px;
        top: 25px;
        font-size: 10px;
        line-height: 13px;
    }
    .curriculum p {
        width: 240px;
        height: 26px;
        top: 15px;
        font-size: 10px;
        line-height: 13px;
    }
    .download a {
        font-size: 9px;
        line-height: 11px;
    }
    .design10 {
        top: 3700px;
        z-index: 1;
        width: 50px;
        height: 30px;
        left: 87%;
        /* left: 340px; */
    }
    .design11 {
        top: 5030px;
        z-index: 1;
        width: 50px;
        height: 30px;
        top: 4300px;
    }
    
    /* PASTORS */
    .meetPastors {
        width: 100%;
        /* width: 390px; */
        height: 480px;
        top: 4350px;
    }
    .pastors {
        width: 100%;
        /* width: 390px; */
        height: 674px;
        left: 10px;
        top: 4380px;
    }
    .pastors h6 {
        width: 120px;
        height: 18px;
        left: 130px;
        font-size: 15px;
        line-height: 19px;
    }
    .pastorTolu {
        width: 109px;
        height: 156px;
        top: 40px;
        background-image: url(images/pastorToluMobile.png);
        border-radius: 9px;
    }
    .ptInfo {
        width: 233px;
        height: 117px;
        left: 120px;
        top: 40px;
    }
    .ptInfo p, .pfInfo p {
        width: 233px;
        height: 117px;
        font-size: 10px;
        line-height: 13px;
    }
    .pastorFunke {
        width: 109px;
        height: 156px;
        left: 68%;
        /* left: 245px; */
        top: 245px;
        background: url(images/pastorFunkeMobile.png);
        border-radius: 9px;
    }
    .pfInfo {
        width: 233px;
        height: 117px;
        left: 8%;
        /* left: 0px; */
        top: 255px;
    }
    .design13 {
        width: 43px;
        height: 40px;
        background: url(images/Group293Mobile.png);
        left: 0px;
        top: 200px;
    }
    .design14 {
        width: 43px;
        height: 40px;
        background: url(images/Group293Mobile.png);
        left: 83%;
        /* left: 305px; */
        top: 200px;
    }

    /* CONTACT */
    .contactUs {
        width: 100%;
        /* width: 390px; */
        height: 400px;
        left: 0px;
        top: 5310px;
    }
    .contactContent {
        width: 330px;
        height: 730px;
        left: 10%;
        /* left: 33px; */
        top: 4905px;
    }
    .prayerSal {
        width: 350px;
        height: 184px;
        top: 430px;
        text-align: center;
    }
    .benediction {
        width: 350px;
        height: 184px;
        top: 560px;
        text-align: center;
    }
    .location {
        width: 207px;
        height: 132px;
        top: 680px;
        left: 0px;
        text-align: center;
    }
    .needPrayer {
        top: 50px;
        left: 35px;
        width: 258px;
        height: 329px;
        border-radius: 1.5px;
    }
    .prayerSal h6, .benediction h6, .location h6, .needPrayer h6 {
        width: 150px;
        height: 38px;
        font-size: 15px;
        line-height: 19px;
    }
    .prayerSal h6, .benediction h6, .location h6 {
        left: 80px;
    }
    .location h6 {
        top: -35px;
    }
    .needPrayer h6, .needPrayer p {
        left: 20px;
        top: 10px;
    }
    .needPrayer form {
        width: 218px;
        height: 250px;
        left: 20px;
        top: 70px;
    }
    .prayerSal p, .benediction p, .location p, .needPrayer p {
        font-size: 10px;
        line-height: 13px;
    }
    .prayerSal p {
        width: 320px;
        height: 184px;
        top: 20px;
    }
    .benediction p {
        position: absolute;
        height: 184px;
        top: 20px;
        width: 320px;
    }
    .location p {
        width: 369px;
        margin-top: -15px;
        margin-left: -30px;
    }
    .needPrayer p {
        top: 60px;
    }
    .needPrayer form input, .needPrayer form textarea {
        width: 218px;
        border: 1.50769px solid #A41C25;
        border-radius: 2.5px;
        margin-top: 15px;
    }
    .needPrayer form input {
        height: 25px;
    }
    .messageSubmit {
        padding: 5px 15px;
        width: 218px;
        height: 23px;
        border-radius: 2px;
        top: 220px;
    }
    ::placeholder {
        padding-left: 10px;
        height: 13px;
        font-size: 12px;
        line-height: 13px;
    }
    .subscribe {
        width: 330px;
        height: 31px;
        left: 0px;
        border-radius: 15px;
    }
    .messageSubmit span, .subscribe span {
        font-size: 10px;
        line-height: 13px;
    }
    .subscribe span {
        width: 280px;
    }
    .fa-paper-plane {
        margin-left: 150px;
    }
    .needPrayer form .mess {

        height: 81px;
        width: 218px;
    }
    .design12 {
        width: 45px;
        height: 40px;
        background: url(images/Group293Mobile.png);
        left: 280px;
        top: 30px;
    }

    /* SOCIAL MEDIA  */
    .socialMedia {
        top: 150px;
        left: 110px;
    }
    .copyright {
        width: 220px;
        height: 20px;
        left: 25%;
        /* left: 80px; */
        top: 5680px;
    }
    .copyright p {
        width: 220px;
        height: 20px;
        font-size: 10px;
        line-height: 13px;
    }
}






/* @media screen and (min-width:200px) and (max-width:390px) */
/* @media screen and (min-width:600px) and (max-width:768px) */
/* @media screen and (min-width:768px) and (max-width:1023px) */
/* @media screen and (max-width:1023px) and (orientation:landscape) */
/* @media screen and (min-width:1024px) */







/* Small screen devices (600px and above) */
@media only screen and (min-width: 600px) {

}
 
/* Medium screen devices (768px and above) */
@media only screen and (min-width: 768px) {

}
 
/* Big screen devices (889px and above) */
@media only screen and (min-width: 889px) {

}
 
/* Extra big screen devices (1200px and above) */
@media only screen and (min-width: 1200px) {

}
